
swatch- {
  $normalTextClr: rgba(255, 255, 255, 0.7);
  $darkTextClr: rgba(0, 0, 0, 0.87);
  $darkStrongTextClr: #000;
  $lightTextClr: rgba(255, 255, 255, 0.87);
  $lightStrongTextClr: #fff;

  display: flex;
  width: 40%;
  max-width: 300px;
  flex-direction: column;
  border: 2rem solid #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.62);
  z-index: 2;
  transition: border 500ms, background 300ms;

  /*
  @media (orientation: portrait) {
    width: 300px;
    transform: translateX(230px);
    transition: all 300ms;
    hex-,
    name- {
      transition: opacity 300ms;
      opacity: 0;
    }
    &.open {
      transform: translateX(0);
      hex-,
      name- {
        opacity: 1;
      }
    }
  }*/

  &:empty {
    background-color: #e51c23;
    border-width: 0;
  }

  color- {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    animation: flexGrow 300ms ease both;

    *+* { margin-top: .25rem; }

    name-, hex- {
      user-select: none;
    }

    name- {
      font-size: 1rem;
      font-weight: bold;
      animation: fadeIn 1000ms ease both;
    }

    hex- {
      font-size: .618rem;
      animation: fadeIn 1000ms ease both;
      /*
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      */
    }

    &[normal-text] { color: $normalTextClr; }
    &[dark-text] { color: $darkTextClr; }
    &[dark-strong-text] { color: $darkStrongTextClr; }
    &[light-text] { color: $lightTextClr; }
    &[light-strong-text] { color: $lightStrongTextClr; }

    &.remove {
      animation: flexShrink 300ms ease both;
      name-,
      hex- {
        animation: fadeOut 300ms ease both;
      }
    }
    

    .cross-btn {
      border: 0;
      outline: none;
      padding: 6px;
      background: none;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      cursor: pointer;
      
      .cross-icon-svg {
        width: 40px;
      }
      .cross-icon {
        font-size: 40px;
        line-height: 1;
      }
    }

    &[normal-text] {
      .cross-icon-svg {
        fill: $normalTextClr;
      }
      .cross-icon {
        color: $normalTextClr;
      }

      .cross-btn {
        &:hover, &:focus {
          .cross-icon-svg {
            fill: $darkTextClr;
          }
          .cross-icon {
            color: $darkTextClr;
          }
        }
      }
    }

    &[dark-text] {
      .cross-icon-svg {
        fill: $darkTextClr;
      }
      .cross-icon {
        color: $darkTextClr;
      }
      
      .cross-btn {
        &:hover, &:focus {
          .cross-icon-svg {
            fill: $lightTextClr;
          }
          .cross-icon {
            color: $lightTextClr;
          }
        }
      }
    }

    &[dark-strong-text] {
      .cross-icon-svg {
        fill: $darkStrongTextClr;
      }
      .cross-icon {
        color: $darkStrongTextClr;
      }
      
      .cross-btn {
        &:hover, &:focus {
          .cross-icon-svg {
            fill: $lightTextClr;
          }
          .cross-icon {
            color: $lightTextClr;
          }
        }
      }
    }

    &[light-text] {
      .cross-icon-svg {
        fill: $lightTextClr;
      }
      .cross-icon {
        color: $lightTextClr;
      }
      &:hover, &:focus {
        .cross-icon-svg {
          fill: $darkTextClr;
        }
        .cross-icon {
          color: $darkTextClr;
        }
      }
    }

    &[light-strong-text] {
      .cross-icon-svg {
        fill: $lightStrongTextClr;
      }
      .cross-icon {
        color: $lightStrongTextClr;
      }
      
      .cross-btn {
        &:hover, &:focus {
          .cross-icon-svg {
            fill: $darkTextClr;
          }
          .cross-icon {
            color: $darkTextClr;
          }
        }
      }
    }

  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes flexGrow {
  from { height: 0%; }
  to { height: 100%; }
}

@-webkit-keyframes flexShrink {
  from { height: 100%; }
  to { height: 0%; }
}
