#color-picker,
#color-picker * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

#color-picker {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  
  .malette-cont {
    width: 100%;
    height: inherit;
    position: relative;
    max-height: 500px;
    display: flex;
  }
}
